# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# 仮想環境
.venv/

.DS_Store
node_modules
sample
**/__pycache__

# secret
secret.**.yaml

# pytest
.pytest_cache